<div class="container">
  <div class="row justify-content-center mt-5 pt-4">
    <div class="col-md-7">
      <form>
        <div class="col-md-8 mb-3">
          <label for="validationDefault01" >Concepto:</label>
          <input type="int" class="form-control" id="validationDefault01" required>
        </div>
        <div class="col-md-8 mb-3">
          <label for="validationDefault01" >Valor:</label>
          <input type="number" class="form-control" id="validationDefault01" required>
        </div>

      <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>

